html {
    scroll-behavior: smooth;
}
body {
    background-color: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

p {
    font-size: 20px;
    color: #bbb;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000;
    padding: 15px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

nav a:hover {
    color: #00ffcc;

}
section {
    padding: 80px 20px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

section p {
    max-width: 600px;
    margin: 0 auto;
}

